#root {
    margin: 0 0 60px 0;
}

.header-swoosh {
    margin-top: -70px;
    width: 100%
}

.error-message {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px;

    h2 {
        padding-bottom: 15px;
    }
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

.coin {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;

    img {
        width: 30px;
    }
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
    color: #fff;

    img {
        height: 30px;
        margin-right: 10px;
    }
}

@mixin animated-area {
    height: 320px;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.directions, .complete {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    div {
        width: 480px;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        padding: 15px;
        text-align: center;
    }
}

.directions {
  .detail, .play {
      color: #fff;
      font-family: 'Roboto Mono', monospace;
  }

  .detail {
      font-size: 12px;
      margin-bottom: 10px;
  }

  .play {
      font-size: 18px;
  }
}

.complete {
    padding: 15px;

    div {
        position: relative;
    }

    p {
        color: #fff;
        font-family: 'Roboto Mono', monospace;
    }

    .final-score {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .copy {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .pxl-btn, .pxl-btn:hover {
        border: 1px solid #f76e54;
        background-color: #f76e54;
        color: #fff;
        margin-bottom: 5px;
    }

    .replay, .replay:hover {
        font-size: 14px;
        color: #fff;
    }
}

.gameview {
    @include animated-area;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.trail {
    position: absolute;
    bottom: 0;
}

.estebanwrapper {
    width: 80px;
    height: 73px;
    overflow: hidden;
    transform: translate3D(400px, 220px, 0);
}

.esteban {
    backface-visibility: hidden;
    background: url('//cdn-payscale.com/content/estebanrun/esteban.svg') no-repeat;
    width: 80px;
    height: 299.4px;
}

@keyframes walk {
    100% {
        background-position: 0 -411.66667px;
    }
}

.trail {
    @include animated-area;
}

.sky {
    @include animated-area;
    width: 200%;
    background: url('//cdn-payscale.com/content/estebanrun/sky.svg');
}

.greenery {
    @include animated-area;
    width: 200%;
    background: url('//cdn-payscale.com/content/estebanrun/greenery.svg');
}
