.content {
    margin-bottom: 100px;
}

.header-swoosh {
    background: url('/src/components/swoosh-nav.svg');
    width: 100%;
    min-height: 132px;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vw/10.22);
}

.gameview {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .timer {
        color: #fff;
        font-family: 'Roboto Mono', monospace;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .coin {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;

        .coin__img {
            width: 30px;
        }
    }

    .score {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        font-family: 'Roboto Mono', monospace;
        font-size: 22px;
        color: #fff;

        .score__icon {
            height: 30px;
            margin-right: 10px;
        }
    }
}

@mixin animated-area {
    height: 320px;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.gameview__background {
    @include animated-area;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.gameview__sky {
    @include animated-area;
    background: url('//cdn-payscale.com/content/estebanrun/sky.svg');
    width: 200%;
}

.gameview__greenery {
    @include animated-area;
    background: url('//cdn-payscale.com/content/estebanrun/greenery.svg');
    width: 200%;
}

.trail {
    @include animated-area;
    position: absolute;
    bottom: 0;
}

.gameview__estebanwrapper {
    height: 73px;
    overflow: hidden;
    width: 80px;
    position: absolute;
    top: 220px;
    left: calc(50% - 40px);
}

.gameview__esteban {
    background: url('//cdn-payscale.com/content/estebanrun/esteban.svg') no-repeat;
    height: 299.4px;
    width: 80px;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    .overlay__message {
        position: relative;
        width: 480px;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        padding: 15px;
        text-align: center;
    }

    .overlay__detail {
        color: #fff;
        font-family: 'Roboto Mono', monospace;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .overlay__cta {
        color: #fff;
        font-family: 'Roboto Mono', monospace;
        font-size: 18px;
    }
}

.overlay--complete {
    .overlay__cta {
        font-weight: 700;
        margin-bottom: 15px;
    }

    .pxl-btn, .pxl-btn:hover {
        border: 1px solid #f76e54;
        background-color: #f76e54;
        color: #fff;
        margin-bottom: 5px;
    }

    .overlay--complete__replay, .overlay--complete__replay:hover {
        font-size: 14px;
        color: #fff;
    }
}
